<!DOCTYPE html>
<html>
<head>
	<title>SAN VUTHY | SANVUTHY.COM</title>
	<link rel="stylesheet" type="text/css" href="css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
	<link href="https://fonts.googleapis.com/css?family=Nosifer" rel="stylesheet">

	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
</head>
<body style="padding: 0px; margin: 0px;">

<section class="sec1">
	<a href="index.html"><h4 class="nameVuthy">SAN Vuthy</h4></a>
	<a href="#" data-activates="slide-out" class="button-collapse"><i class="ion-navicon-round ionMenu"></i></a>

	<!-- <center><div class="imgSec1"></div></center> -->
	<h5 class="testWelcome">Welcome</h5>
	<h6 class="landSAN">the land of SAN VUTHY</h6>
	<section id="section07" class="demo">
	  <a href="#home"><span></span></a>
	</section>


	<ul id="slide-out" class="side-nav">
	    <li><div class="user-view">
	      <div class="background">
	        <img src="images/office.jpg">
	      </div>
	      <center><div class="userImg" style="background-image: url(img/img.jpg);"></div></center>
	      <a href="#!name"><span class="name">SAN Vuthy</span></a>
	      <a href="#!email"><span class="email">san.vuthy@outlook.com</span></a>
	    </div></li>
	    <li><a href="#home" class="waves-effect">HOME</a></li>
	    <li><a href="#about" class="waves-effect">ABOUT</a></li>
	    <li><a href="#myPro" class="waves-effect">MY PROJECT</a></li>
	    <li><a class="waves-effect" href="#contact">CONTACT ME</a></li>
	</ul>

</section>
<div id="home"></div>
<section class="sec2">
</section>

<div class="container" style="margin-top: 30px;">
	<h5 class="offter">What I offter</h5>
	<div class="row">
		<div class="col s12 m3 l3">
			<img src="img/webDesign.png" class="responsive-img">
			<h5 class="positionTitle">Web Desgin</h5>
		</div>
		<div class="col s12 m3 l3">
			<img src="img/devolopment.png" class="responsive-img">
			<h5 class="positionTitle">Web Development</h5>
		</div>
		<div class="col s12 m3 l3">
			<img src="img/design.png" class="responsive-img">
			<h5 class="positionTitle">Web Responsive</h5>
		</div>
		<div class="col s12 m3 l3">
			<img src="img/wordpress.png" class="responsive-img">
			<h5 class="positionTitle">Wordpress</h5>
		</div>
	</div>
</div>

<div class="aboutBack">
	<div class="about" id="about">
	</div>
	<div class="container">
		<div class="controlAbout">
			<h5 class="titleAbout">About me</h5>
			<div class="row">
				<div class="col s12 m3 l3">
					<div class="imgAbout"></div>
				</div>
				<div class="col s12 m9 l9">
					<p class="nameSAN">My full name is SAN Vuthy, and my friends just call me Vuthy. I am 20 years old. In free times I like to research, listen to music, play sport and cycling. I started to learn web design and web development since I was a second-year student in university. Here are my program languages I know:</p>
					<div class="row" style="padding-left: 10px;">
						<div class="col s12 m4 l4">
							<li>HTML5</li>
							<li>CSS3</li>
							<li>BOOTSTRAP</li>
							<li>JAVASCRIPT</li>
						</div>
						<div class="col s12 m6 l6">
							<li>MYSQL</li>
							<li>Responsive Design</li>
							<li>PHP</li>
							<li>PYTHON</li>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

<div id="myPro"></div>

<div class="container myProjectSmall"  >
	<h5 class="myProject">My projects</h5>
	<div class="row">
		<div class="col s12 m4 l4">
			<div style="background-image: url(img/img1.jpg);" class="projectImg"></div>
		</div>
		<div class="col s12 m4 l4">
			<div style="background-image: url(img/img2.png);" class="projectImg"></div>
		</div>
		<div class="col s12 m4 l4">
			<div style="background-image: url(img/img4.jpg);" class="projectImg"></div>
		</div>

		<div class="col s12 m4 l4 hidden" style="margin-top: 15px; display: none;">
			<div style="background-image: url(img/img3.jpg);" class="projectImg"></div>
		</div>

		<div class="row"></div>

		<center>
			<button class="btn loadMore">Load More</button>
		</center>
	</div>
</div>

<div class="resumeBack">
	<div class="container">
	<div class="row" style="margin: 0px;position: relative;">
		<div class="col s12 m7 l7">
			<h5 class="likeTitle">LIKE what you see?</h5>
			<p class="checkText">Check out my resume to learn more</p>
		</div>
		<div class="col s12 m5 l5">
			<center><a class="btn loadMore1 waves-effect waves-light btn modal-trigger" href="#modal1">View Resume</a></center>
		</div>
		<img src="img/cb.png" class="responsive-img cbImg">
	</div>
	</div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
      <h5 style="font-weight: bolder;">MY RESUME</h5>
      <embed src="vuthyCV.pdf" width="100%" height="1700px" />
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">CLOSE</a>
    </div>
</div>

<div class="container" style="margin-top: 50px;" id="contact">
	<h5 class="inTouch">GET IN TOUCH</h5>
	<div class="row">
	    <form class="col s12">
	      	<div class="row">
		        <div class="input-field col s12 m6 l6">
		          <input id="first_name" type="text" class="validate" placeholder="Full Name">
		        </div>
		        <div class="input-field col s12 m6 l6">
		          <input id="last_name" type="text" class="validate" placeholder="Email">
		        </div>
	     	</div>
	     	<div class="input-field">
	          <textarea id="textarea1" class="materialize-textarea" placeholder="Message" ></textarea>
	        </div>
	        <center>
				<button class="btn Submit">Submit</button>
			</center>	
	    </form>
	</div>
</div>

<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l12 s12">
      	<center><h5 class="followMe">follow me</h5></center>
      	<center>
	      <a href="https://www.linkedin.com/in/san-vuthy-aa325a141/" target="_blank"><i class="ion-social-linkedin social" aria-hidden="true"></i></a>
	      <a href="https://twitter.com/SanVuthy03?lang=en" target="_blank"><i class="ion-social-twitter-outline social" aria-hidden="true"></i></a>
	      <a href="https://www.facebook.com/san.vuthy" target="_blank"><i class="ion-social-facebook-outline social" aria-hidden="true"></i></a>
	    </center>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 sanvuthy.com
    <a class="grey-text text-lighten-4 right" href="#!">#84, St 275, Boeung Kark I, Toul Kork, Phnom Penh, Cambodia</a>
    </div>
  </div>
</footer>

</body>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript">

$(document).ready(function(){
// the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
$('.modal').modal();
});


$('.loadMore').click(function(){
	$('.hidden').slideToggle(300);
});



</script>
</html>